
@{
    ViewBag.Title = "Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:40px;">

<h2 style="background:#0e3e6c;padding:5px 10px;color:#fff;">
    Lahore 
    <span style="font-size:20px;">( Head Office )</span>
</h2>
<div class="clearfix">

</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <img src="~/IMG/ss2.jpg"  width="116" height="116">
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

    <img src="~/IMG/icon.png" style="margin-top:5px;margin-right:15px;margin-bottom:10px;display:block;float:left; max-width:20px; vertical-align:middle;"/>
    <span style="margin-left:0px;display:block;float:left;width:70%; font-size:15px; line-height: 1.42857143;">
        Office # AYAZ INTERNATIONAL , Ferozpur Road,
        Lahore, Pakistan.</span>
    
    <div class="clearfix">

    </div>
    
    <img src="~/IMG/phone.png" style="margin-top:5px;margin-right:15px;margin-bottom:10px;display:block;float:left; max-width:20px; vertical-align:middle;"/>
    <span style="margin-left:0px;display:block;float:left;width:70%; font-size:20px; line-height: 1.42857143;">
        +92-333-6663825   
    </span>

    <div class="clearfix">

    </div>
                       
    <img src="~/IMG/gmail.png" style="margin-top:5px;margin-right:15px;margin-bottom:10px;display:block;float:left; max-width:20px; vertical-align:middle;" />
    <span style="margin-left:0px;display:block;float:left;width:70%; font-size:20px; line-height: 1.42857143;">
        <a href="mailto:ABC@gmail.com">ABC@gmail.com</a>
    </span>
  </div>
</div>

<div class="clearfix">

</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:40px;">

    <h2 style="background:#0e3e6c;padding:5px 10px;color:#fff;">
        Islamabad
        <span style="font-size:20px;">( Head Office )</span>
    </h2>
    <div class="clearfix">

    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="~/IMG/ss2.jpg" width="116" height="116">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <img src="~/IMG/icon.png" style="margin-top:5px;margin-right:15px;margin-bottom:10px;display:block;float:left; max-width:20px; vertical-align:middle;" />
        <span style="margin-left:0px;display:block;float:left;width:70%; font-size:15px; line-height: 1.42857143;">
            Office # AYAZ INTERNATIONAL , Ferozpur Road,
            Lahore, Pakistan.
        </span>

        <div class="clearfix">

        </div>

        <img src="~/IMG/phone.png" style="margin-top:5px;margin-right:15px;margin-bottom:10px;display:block;float:left; max-width:20px; vertical-align:middle;" />
        <span style="margin-left:0px;display:block;float:left;width:70%; font-size:20px; line-height: 1.42857143;">
            +92-333-6663825
        </span>

        <div class="clearfix">

        </div>

        <img src="~/IMG/gmail.png" style="margin-top:5px;margin-right:15px;margin-bottom:10px;display:block;float:left; max-width:20px; vertical-align:middle;" />
        <span style="margin-left:0px;display:block;float:left;width:70%; font-size:20px; line-height: 1.42857143;">
            <a href="mailto:ABC@gmail.com">ABC@gmail.com</a>
        </span>
    </div>
</div>

<div class="clearfix">

</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:40px;">

    <h2 style="background:#0e3e6c;padding:5px 10px;color:#fff;">
        Karachi
        <span style="font-size:20px;">( Head Office )</span>
    </h2>
    <div class="clearfix">

    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="~/IMG/ss2.jpg" width="116" height="116">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <img src="~/IMG/icon.png" style="margin-top:5px;margin-right:15px;margin-bottom:10px;display:block;float:left; max-width:20px; vertical-align:middle;" />
        <span style="margin-left:0px;display:block;float:left;width:70%; font-size:15px; line-height: 1.42857143;">
            Office # AYAZ INTERNATIONAL , Ferozpur Road,
            Lahore, Pakistan.
        </span>

        <div class="clearfix">

        </div>

        <img src="~/IMG/phone.png" style="margin-top:5px;margin-right:15px;margin-bottom:10px;display:block;float:left; max-width:20px; vertical-align:middle;" />
        <span style="margin-left:0px;display:block;float:left;width:70%; font-size:20px; line-height: 1.42857143;">
            +92-333-6663825
        </span>

        <div class="clearfix">

        </div>

        <img src="~/IMG/gmail.png" style="margin-top:5px;margin-right:15px;margin-bottom:10px;display:block;float:left; max-width:20px; vertical-align:middle;" />
        <span style="margin-left:0px;display:block;float:left;width:70%; font-size:20px; line-height: 1.42857143;">
            <a href="mailto:ABC@gmail.com">ABC@gmail.com</a>
        </span>
    </div>
</div>

<div class="clearfix">

</div>

<section class="body-content">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="footer_hdng">
            <h3><strong>About Us</strong></h3>
        </div>

        <div class="footer_text">
            <p>Travel Helper &amp; Tours PVT (LTD) are provided services of Hajj &amp; Umrah moreover visit visa of international countries like Dubai,Malayisa,Thailand etc &amp; also provide the facilities of online booking  &amp; also sell domestic &amp; international tickets.Tourism is one of the most developed business , especially in developed countries. People love to travel and leave all the planning to travel agencies.</p>
            <p style="text-align: right;"><span id="1478090942203S" style="display: none;">&nbsp;</span></p>
        </div>
    </div>
</section>

